.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 5rem;
}

.profile a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #82a8fb;
}

.profile a:hover,
.profile a:active,
.profile a.active {
  color: #001448;
}
